workflows/rag-knowledge-base/Spark Agency _ RAG Query (Internal).json
{
  "name": "Spark Agency | RAG Query (Internal)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "authentication": "basicAuth",
        "initialMessages": "Hey! 👋 Welcome to Spark's internal knowledge base. Ask me anything about our SOPs, HR policies, or client procedures.",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "f8faf728-b4eb-4f56-99ee-d344ef92bbc2",
      "name": "When chat message received",
      "webhookId": "28cae84f-00e5-42fc-930f-30fa6ff0f0ef",
      "credentials": {
        "httpBasicAuth": {
          "id": "f5yMyqlRIKunU1fB",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an internal AI assistant for Spark Social Media Agency employees. Answer questions accurately using the agency's internal knowledge base including SOPs, HR policies, and operational procedures. Be direct and detailed — you are speaking to team members not clients.\n\nRules:\n- Only answer based on retrieved information\n- If answer not found say \"I don't have that in the knowledge base, please check with your manager\"\n- Never share internal information outside the organization\n- Be helpful and direct with employees"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        0
      ],
      "id": "2c764c45-bcfa-4aba-822b-2f639f937842",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "faa04911-d5e9-44c7-9ae3-5b5d69f51221",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L6fxajsbuG1b8qFu",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "e6d964bb-238a-4618-b8d9-7fa8fc4623bf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        432
      ],
      "id": "131ea77a-88c0-4751-82ac-714c585bf8ab",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "L6fxajsbuG1b8qFu",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1136,
        0
      ],
      "id": "3eb797f0-cc36-4cba-a15b-7f0b0cf1a9d6",
      "name": "Chat",
      "webhookId": "e267e009-c500-491e-b641-5d79da4153b6"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search internal documents including SOPs, HR policies, and operational procedures",
        "pineconeIndex": {
          "__rl": true,
          "value": "spark-agency",
          "mode": "list",
          "cachedResultName": "spark-agency"
        },
        "options": {
          "pineconeNamespace": "internal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "0b359b1c-7ab6-4ff4-860f-dfb0fb1c4383",
      "name": "Pinecone Vector Store (Internal)",
      "credentials": {
        "pineconeApi": {
          "id": "qPc80lCkLqQ7U5sh",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search public documents including FAQs, service packages, pricing, and case studies",
        "pineconeIndex": {
          "__rl": true,
          "value": "spark-agency",
          "mode": "list",
          "cachedResultName": "spark-agency"
        },
        "options": {
          "pineconeNamespace": "public"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        768,
        224
      ],
      "id": "7c134dd1-f490-40e9-9fac-c3b993d2c551",
      "name": "Pinecone Vector Store (Public)",
      "credentials": {
        "pineconeApi": {
          "id": "qPc80lCkLqQ7U5sh",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        432
      ],
      "id": "2da515b9-57a2-4cd9-a8d2-2ab44d030374",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "L6fxajsbuG1b8qFu",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Internal)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Internal)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Public)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Public)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e67bd01d-9108-483e-ba1c-32256785ce3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fe7b02f77ce0bdbbb703e0afe924ea6533b4e520a756abb0df409f6a4adb000"
  },
  "nodeGroups": [],
  "id": "893BA1oq2FhReP3e",
  "tags": []
}