workflows/rag-knowledge-base/Spark Agency _ RAG Ingestion Pipeline.json
{
  "name": "Spark Agency | RAG Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "a2437a5d-e0af-4517-b760-1b947122691a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "'1isLKkcUjasDA9C9PpHkIwx6GQKtOzKJB' in parents and mimeType != 'application/vnd.google-apps.folder'",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        80
      ],
      "id": "cf1061d5-878c-4a19-b341-fd21fac8f43b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HCFzb8RFRJKdnJ6O",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        80
      ],
      "id": "13367d38-6068-4127-b90e-e7356228057c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "ccc1c704-54a1-41c5-a4f8-0e71463c83c2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HCFzb8RFRJKdnJ6O",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ],
      "id": "8f340498-41a9-48c5-8769-95d7e03d1eec",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.text;\nconst fileName = items[0].json.info?.Title || 'Unknown Document';\n\nlet accessLevel = 'public';\nlet docType = 'general';\nlet namespace = 'public';\n\nif (fileName.toLowerCase().includes('case stud')) {\n  docType = 'case_studies';\n} else if (fileName.toLowerCase().includes('faq')) {\n  docType = 'faq';\n} else if (fileName.toLowerCase().includes('service') || fileName.toLowerCase().includes('pricing')) {\n  docType = 'pricing';\n} else if (fileName.toLowerCase().includes('sop') || fileName.toLowerCase().includes('standard')) {\n  accessLevel = 'internal';\n  docType = 'sop';\n  namespace = 'internal';\n} else if (fileName.toLowerCase().includes('hr') || fileName.toLowerCase().includes('human')) {\n  accessLevel = 'internal';\n  docType = 'hr';\n  namespace = 'internal';\n}\n\n// Return single item with full text - let n8n handle splitting\nreturn [{\n  json: {\n    text: text,\n    metadata: {\n      source: fileName,\n      access_level: accessLevel,\n      doc_type: docType,\n      namespace: namespace\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "65d5258c-863c-4354-b2f1-d3b07f43e654",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "spark-agency",
          "mode": "list",
          "cachedResultName": "spark-agency"
        },
        "options": {
          "pineconeNamespace": "={{ $json.metadata.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1344,
        80
      ],
      "id": "f3fff5bb-dbbb-483b-9f29-8bbbaf8b162a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qPc80lCkLqQ7U5sh",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        304
      ],
      "id": "5686dee7-8b60-41bd-9fe9-d0eb2afa3d16",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "L6fxajsbuG1b8qFu",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1488,
        304
      ],
      "id": "b42ee4bc-5cec-4618-9736-2a1ed95b41a2",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "feee56e2-ace0-42bc-9368-2b621edbe668",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fe7b02f77ce0bdbbb703e0afe924ea6533b4e520a756abb0df409f6a4adb000"
  },
  "nodeGroups": [],
  "id": "rXid8u8R1jxJmwhi",
  "tags": []
}