workflows/maya-receptionist/AI Receptionist _ Social Media Agency.json
{
  "name": "AI Receptionist | Social Media Agency",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Maya, a warm and friendly AI receptionist for Spark Social Media Agency.\n\nYour only job is to have a natural conversation, collect key details, and guide the visitor toward booking a free 15 minute discovery call.\n\nAbout Spark Social Media Agency:\n- Social media management for small to medium businesses\n- Specializes in Instagram, Facebook and TikTok\n- Packages start from $500/month\n- Free 15 minute discovery call, no commitment\n- Based in the Philippines, serves clients globally\n\nHow to collect information:\n- Ask ONE question at a time, never combine questions\n- Wait for the answer before asking the next thing\n- Collect in this order: full name, email, business type, main goal, platforms they use\n- Make it feel like a natural conversation not a form\n\nHow to handle bookings:\n- Once you have all details, offer the discovery call\n- Booking link: https://calendly.com/prayerjosiah/discovery-call\n- Ask them to use the same email they gave you when booking\n\nHow to handle declining a call:\n- Don't push it\n- Offer a custom proposal via email instead\n- Confirm their email and tell them the team will follow up within 24 hours\n\nHow to handle returning clients:\n- Acknowledge you've spoken before\n- Ask if their details have changed\n- Help them rebook or update their information\n- Always confirm their email first to identify their record\n\nHow to handle general questions:\n- Answer what you know about the agency\n- If unsure say the team will follow up via email\n\nRules:\n- Keep responses short, warm and conversational\n- Never sound like a corporate bot\n- Never make up information about the agency\n- ONE question per message, always\n- No bullet points in your responses ever\n- No bold text, no headers, just natural sentences\n\nWhen the conversation is complete and the visitor has confirmed their booking or agreed to email consultation, end your final message naturally then on a new line add:\n\nBOOKING_COMPLETE:{\"name\":\"\",\"email\":\"\",\"old_email\":\"\",\"business_type\":\"\",\"goal\":\"\",\"platforms\":\"\",\"next_step\":\"\"}\n\nFill in the JSON with the exact details collected. This tag is invisible to the visitor and processed automatically by the system."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -304
      ],
      "id": "e7bfc2cf-b98a-43d3-a98b-bdabd5877c38",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        -80
      ],
      "id": "55980a72-2f37-4115-a6b4-ddef30fbfb07",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L6fxajsbuG1b8qFu",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        240,
        -80
      ],
      "id": "9702b4cd-3539-45ad-bd7a-d34e89d73ff8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1weyGYjsjX4olQJSlgVasPRa9OLM-xeOQ6JccG5dTRNI",
          "mode": "list",
          "cachedResultName": "Spark Agency | Receptionist Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1weyGYjsjX4olQJSlgVasPRa9OLM-xeOQ6JccG5dTRNI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1weyGYjsjX4olQJSlgVasPRa9OLM-xeOQ6JccG5dTRNI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.bookingData.name }}",
            "Email": "={{ $json.bookingData.email }}",
            "Business Type": "={{ $json.bookingData.business_type }}",
            "Goal": "={{ $json.bookingData.goal }}",
            "Platforms on": "={{ $json.bookingData.platforms }}",
            "Next Step": "={{ $json.bookingData.next_step }}",
            "Old Email": "={{ $json.bookingData.old_email }}",
            "Matching Email": "={{ $json.bookingData.matchingEmail }}",
            "Date Collected": "={{ new Date().toLocaleString('en-US', { timeZone: 'Asia/Manila', month: 'long', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}"
          },
          "matchingColumns": [
            "Matching Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Old Email",
              "displayName": "Old Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Business Type",
              "displayName": "Business Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Goal",
              "displayName": "Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platforms on",
              "displayName": "Platforms on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Step",
              "displayName": "Next Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Collected",
              "displayName": "Date Collected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matching Email",
              "displayName": "Matching Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -400
      ],
      "id": "6ee21949-45db-4c94-88f8-a13c3a8f0413",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DZZU1Ed2ze3JIatO",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hey! 👋 I'm Maya from Spark Social Media Agency. How can I help you today? 😊",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -128,
        -304
      ],
      "id": "a9ca45ce-b8a3-4457-a236-4adff906b17f",
      "name": "When chat message received",
      "webhookId": "11a67e78-2bab-459f-aef8-ac0c1163f9db"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99cc0982-e9f6-46c4-a62f-16d41fe1a113",
              "leftValue": "={{ $('Code in JavaScript').item.json.isComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -304
      ],
      "id": "624b1052-9413-4206-bc2a-aa20dacc12aa",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const output = items[0].json.output;\n\nconst tagIndex = output.indexOf('BOOKING_COMPLETE:');\n\nlet cleanMessage = output;\nlet bookingData = null;\n\nif (tagIndex !== -1) {\n  cleanMessage = output.substring(0, tagIndex).trim();\n  const jsonString = output.substring(tagIndex + 'BOOKING_COMPLETE:'.length).trim();\n  try {\n    bookingData = JSON.parse(jsonString);\n    bookingData.matchingEmail = bookingData.old_email || bookingData.email;\n  } catch(e) {\n    bookingData = null;\n  }\n}\n\nitems[0].json.output = cleanMessage;\nitems[0].json.bookingData = bookingData;\nitems[0].json.isComplete = bookingData !== null;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -304
      ],
      "id": "0db24f55-5753-4253-83a2-3940e17bd421",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "message": "={{ $('Code in JavaScript').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        1104,
        -400
      ],
      "id": "b85b6d42-7e03-4936-ad0c-88fc8185ce57",
      "name": "Chat",
      "webhookId": "864ddd11-89b5-4686-8cd2-e7de7d495b40"
    },
    {
      "parameters": {
        "message": "={{ $('Code in JavaScript').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        880,
        -208
      ],
      "id": "665bfad0-c9df-4c05-bb48-899e66e4f3ed",
      "name": "Chat1",
      "webhookId": "430190b0-56eb-4051-bc24-5c7b079946ed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BFS3XJGJ0",
          "mode": "list",
          "cachedResultName": "maya-bookings"
        },
        "text": "=🔥 New Lead from Maya!\n\nName: {{ $('Code in JavaScript').item.json.bookingData.name }}\nEmail: {{ $('Code in JavaScript').item.json.bookingData.email }}\nBusiness: {{ $('Code in JavaScript').item.json.bookingData.business_type }}\nGoal: {{ $('Code in JavaScript').item.json.bookingData.goal }}\nPlatforms: {{ $('Code in JavaScript').item.json.bookingData.platforms }}\nNext Step: {{ $('Code in JavaScript').item.json.bookingData.next_step }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1312,
        -400
      ],
      "id": "f9c13e25-4bc5-4ce2-b367-ace18f3bbd56",
      "name": "Send a message",
      "webhookId": "e8d5d899-5e05-4ecb-bca3-d1195960192c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YcUI4PEXtriJi6m7",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Code in JavaScript').item.json.bookingData.email }}",
        "additionalFields": {
          "companyName": "={{ $('Code in JavaScript').item.json.bookingData.business_type }}",
          "firstName": "={{ $('Code in JavaScript').item.json.bookingData.name }}",
          "leadStatus": "NEW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1520,
        -400
      ],
      "id": "41f120e0-9e47-4c69-b039-43f4bb6af8e9",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "nmQKyF8pxJL13hcI",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "task",
        "dueDate": "={{ new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString() }}",
        "metadata": {
          "body": "=Goal: {{ $('Code in JavaScript').item.json.bookingData.goal }} \nPlatforms: {{ $('Code in JavaScript').item.json.bookingData.platforms }} \nNext Step: {{ $('Code in JavaScript').item.json.bookingData.next_step }}",
          "subject": "=New Lead from Maya — {{ $('Code in JavaScript').item.json.bookingData.name }}"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.vid }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1728,
        -400
      ],
      "id": "9526dc59-00c2-4759-a76e-747cf75fc932",
      "name": "Create an engagement",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "nmQKyF8pxJL13hcI",
          "name": "HubSpot OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "aca5dc1b905a41beacc5538879c99b81",
          "chatInput": "that would be perfect"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Create an engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "17ff67f4-d607-4ac2-93dc-080f13dbcbaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fe7b02f77ce0bdbbb703e0afe924ea6533b4e520a756abb0df409f6a4adb000"
  },
  "nodeGroups": [],
  "id": "bG3MTsdMBAwNA6Bp",
  "tags": []
}